body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}





.product h3 {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#user-info, #order-history {
    display:inline-flex;
    margin-left: 250px;
    margin-right: px;
    width: 25%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 100px;
    
}

#user-info {
    margin-right: 10px; /* Espacio entre las secciones */
}





/*carrusel*/


.carousel8 {
    position: center;
    max-width: 1500px;
    margin: 0 auto;
}

.slides8 {
    display: flex;
    overflow: hidden;
    position: center;
}

.slides img {
    width: 100%;
    
}


 /* Para el ancho y alto de las imagenes. Modificalo a gusto =)  */
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 25%;
     height: 400px;
     margin: auto;
 }
 /* Para los margenes del contendor de las fotos. Podes cambiarle el ancho a gusto tambien! */
 .carousel-control {
     width: 0.1%;
 }
 .botones{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    
    
 }

 #produc_Btn{
    border: #333;
    background-color: #BA8F44;
    margin-right: 100px;
    font-size: 16px;
    border-radius: 3%;
    color: #fff;

 }
 #comp_Btn{
    border: #333;
    background-color: #BA8F44;
    margin-right: 100px;
    font-size: 16px;
    border-radius: 3%;
    color: #fff;
 }

